{% extends 'base.html' %}


{% block content %}
	
	
	<h3>Links:</h3> <br><br>
		
		<a href="https://www.bfskinner.org/" target="_blank">B.F.Skinner Foundation</a> <br><br>
		<a href="http://www.faace.ufscar.br/arquivos/Livro_Contribui%C3%A7%C3%B5es_da%20AC_a_Pr%C3%A1tica_Educacional-Esetec.pdf" target="_blank">Contribuições da Análise do Comportamento à Prática Educacional</a> <br><br>
		<a href="http://pepsic.bvsalud.org/scielo.php?script=sci_arttext&pid=S0188-81452013000400006" target="_blank">Ensino programado e programação de condições para o desenvolvimento de comportamentos</a> <br><br>
	

{% endblock %}




